{% if current_user.is_authenticated %}{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Stocks</title>
</head>
<body>
    <h1>User Stocks</h1>
<h1>User Profile</h1>
    <p>Balance: {{ balance }}</p>
    <h2>Stocks:</h2>
    <ul>
        {% for stock in user_stocks %}
        <li>{{ stock.stock }} - Quantity: {{ stock.quantity }}</li>
        {% endfor %}
    </ul>
    </body>
</html>
{% endblock %}{% endif %}
